<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en"> <![endif]-->
<!--[if IE 7]>         <html lang="en"> <![endif]-->
<!--[if IE 8]>         <html lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<title>{{ title }}</title>

	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/plugins/lw-{{ id }}.css">

	<!-- viewport meta to reset inital scale -->
	<meta name="viewport" content="width=device-width"/>

	<!--[if lt IE 9]><script src="/live/resource/js/livewhale/thirdparty/html5shiv.js"></script><![endif]-->
</head>
<body{{#if id}} id="{{id}}"{{/if}}>
	<header id="siteheader">
		<h1 class="container"><a href="/">LiveWhaleUI</a></h1>
	</header>

    <div class="content container cf">
		<nav>
			<!-- nav partial -->
			{{> nav }}	
		</nav>
		<div id="main">
			<h2>{{ title }}:</h2>
			<!-- body partial, used for adding pages to layout -->
			{{> body }}
		</div>
    </div>
	<footer class="cf">
		<div class="container">
			<section class="powered-by">
				Powered by <a href="http://www.whitewhale.net">White Whale Web Services</a>
			</section>
		</div>
	</footer>

	<script type="text/javascript" src="/vendor/jquery.js"></script>
	<script type="text/javascript" src="/vendor/jquery-ui.widget.min.js"></script>
	<script type="text/javascript" src="/src/jquery.lw-{{ id }}.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
